*{
  font-family:"Verdana", "Arial", "Arial Black", Arial, Verdana, sans-serif;
  color: #FFF;
  text-decoration: none;
}
#carousel1 {
  order:1;
}
body, html {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  font-family: sans-serif; 
  background:  #383838;
  line-height: 1.4;
}

/* CAROUSEL */
.container {
  padding-left: 70px;
}

.title {
  font-size: 20px;  
  margin-bottom: 0px;
}

.item {
  margin: 40px 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);  /*invisible*/
  border-radius: 3% 3%;  
}

.item img {
  display: block;
  width: 55%; 
  height: auto; 
  border-radius: 3% 3%;
  cursor: pointer;
  box-shadow: 0 15px 35px #18181870,0 5px 15px #0000005d; 
} 

.item__body {
  padding: 25px;
}

.item__title {
  font-size: 24px;
  margin-bottom: 5px;
  color: #232323;
}

.item__description {
  color: #585858;
}

.carousel {
  position: relative;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);  
}

.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left; 
}

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFF url(right.svg) center center no-repeat;
  background-size:  20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 20px;
  box-shadow: 0 15px 35px #2020201a,0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2)
}

.carousel__prev {
  background-image: url(left.svg);
  right: auto;
  left: -20px;
}

.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
}


/* Modal */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #968e8e;
  margin: 15% auto; 
  padding: 10px;
  border: 1px solid #888;
  width: 50%; 
  height: 65%;
  border-radius: 1% 1% 1% 1%;
  overflow-x: hidden;
}

.modal img {
  padding: 10px;
  float: right;
  height: 50%;
}
.modal p {
  max-width: 500px;
}
.modal #titleMovie {
  font-size: larger;
}

/* The Close Button */
.close {
  color: rgb(105, 91, 91);
  float: right;
  font-size: 28px;
  padding-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


/*best movie*/
#bestFilm {
  position: relative;
  margin-left: 50px;
  border-radius: 11px 11px;
  max-width: 800px;
  overflow-x: hidden;
  width: 50%; 
  height: 100%; 
  background: linear-gradient(90deg, rgb(27, 27, 27), #383838,#383838,#383838);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;  
}

#bestFilm p{
  padding-left: 15px; 
  max-width: 500px; 
}

#bestFilm img {
  float: right;
  width: 30%;
  height: auto; 
}
#bestTitle {
  font-size: larger;
}

#playButton, #infoButton {
  padding: 7px 20px 7px 20px;
  margin-left: 20px;
  background-color: #000000;
  border: 2px solid #d6d6d6;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  }
  
#playButton:disabled, #infoButton:disabled {
  pointer-events: none;
}
  
#playButton:hover, #infoButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#playButton:active, #infoButton:active {
  box-shadow: none;
  transform: translateY(0);
}


/* MENU */
nav {
   padding-left: 0px;
   z-index: 2;
   position: relative;
   width: 100%;
   height: 70px; 
   background: linear-gradient(90deg, rgb(51, 51, 51),  rgb(46, 46, 46), #1f1f1f);

   margin-bottom: 40px;   
}
.liste-objets #nom {
   padding-right: 80px;  
   font-size: 22px;
   margin-top: 8px;
}
.liste-objets img {
  height: 60px;
  padding-right: 20px;
  margin-left: 15px;
  vertical-align: middle;
  margin-top: 5px;
}
.liste-objets {   
   display:flex;  
   padding-right: 350px;  
   list-style-type: none;
   height: 100%;
   line-height: 50px;
   font-size: 14px;   
}

.objets {
   cursor: pointer;
   margin-top: 8px;
   flex-shrink: 0;
   margin-right: 40px;
   position: relative;
}


/* Sous Liste */
.sous-liste {
   position: relative;
   top: -2px;
   display: none;   
}
.objets-sous-liste {
   list-style-type: none;
   text-align: center;
   padding: 0 13px;   
   background: rgb(43, 43, 43);
   border-bottom: 0.5px solid rgba(167, 167, 167);
}

.objets-sous-liste:hover {
   background: rgb(156,156,156);
}

.objets:hover > ul {
   display: block; 
}
/* FIN MENU */


/* RESPONSIVE */
@media  (max-width: 1100px) {
  /* carousel */
  .item img {
    width: 100%;
  } 
  /* best movie */
  #bestFilm {
    width: 90%;
  } 
  /* Modal Content/Box */
  .modal-content {
    width: 75%;    
    height: 60%;   
  }
  .modal img {
    height: 50%;
  }
}

@media  (max-width: 750px) {  
  /* best movie */
  #bestFilm img {
    width: 40%;
  } 
  /* Modal Content/Box */
  .modal-content {
    width: 85%;    
    height: 70%;    
  }
  .modal img {
    height: 50%; 
  }
}

@media  (max-width: 620px) {
  /* carousel */
  .title{
    font-size: 18px;
  }
  .item img {
    width: 50%;
    margin-left: 15%;
  }
  /*menu*/
  nav {
    height: 60px;
  }
  ul {    
    padding-left: 5px;  
  }
  .liste-objets #nom {   
    padding-right: 40px;    
  }
  .liste-objets img {
    height: 40px;
    padding-right: 10px;
    margin-top: 10px;    
  } 
  .objets {
    margin-right: 15px;  
  }

  /* best movie */
  #bestFilm {
    margin-left: 10px; 
    width: 90%; /* Full width */   
    background: linear-gradient(90deg, rgb(27, 27, 27),#383838);  
  } 
  #bestFilm img {
    float: unset;   
  }
  #playButton, #infoButton {
    padding: 4px 10px 4px 10px; 
    }
  /* Modal Content/Box */
  .modal-content {
    width: 96%;    
    height: 70%;    
  }
  .modal img {
    padding: 10px;
    float: unset;  
    height: 45%; 
  }
  /* The Close Button */
  .close {
    padding-right: 1px; 
  }
}

@media  (max-width: 480px) {
  /* carousel */
  .container{
    padding-left: 25px;
  }
  .item img {
    width: 70%;
    margin-left: 9%;
  }
  /*menu*/
  nav {
    height: 45px;
  }
  .liste-objets img {
    height: 30px;
    padding-right: 20px;     
    margin-top: 0px;   
  } 
  .objets {
    margin-top: 0;
  }
  .liste-objets #nom {   
    padding-right: 0px;    
    font-size: 0px;    
  }
    /* best movie */
  #bestFilm img {   
    width: 55%;   
  }
    /* Modal */
  .modal img {
    height: 35%; 
  }
  .modal-content {
    height: 80%; 
  }
}

